body {
    margin: auto;
    background-color: white; background-image: url("");
    color: black; 
    border: 0px solid green;
   }
  
   
    .header {
      background-color: white;
      height: auto;
      background-image: url("");
      font-family: italic,Open Sans,italic;
      margin: auto;
      padding: auto;
      font-size: 17px;
      border: 0px solid rgb(231, 6, 6);
  }
  
    .content {
       background-color: white;  
       background-image: url("");
       margin: 0px; 
       padding: 10px;
       
       color: black;
       border: 0px solid blue;
  }
   .footer {
       color: black;
       background:  white;
       height: 300px;
       background-image: url("");
       font-family: italic,Open Sans,italic;
       margin: auto;
       padding: auto;
       font-size: 17px;
       border: 0px solid red;
   }
   #copyButton {
      background-color: #b70000;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      display: block;
      margin: 10px auto 0;
   }
   .textarea-container {
      background-color: #ffca3d;
      width: 90%;
      margin: 20px auto;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
   }
    
   .topnav {  
       overflow: hidden;
       background-color: #2F2F2F;
       max-width: 100%;
   }
   .topnav a { 
       float: left; 
       display: block;
       color: white;
       text-align: center;
       padding: 11px 13px;
      text-decoration: none;font-size: 21px;
   }
   .topnav a:hover {
       background-color: #ddd;
       color: black;
   }
   .topnav .icon {
       display: none;
   }
   
   @media screen and (max-width: 600px) {
       .topnav a:not(:first-child) {display: none;}
       .topnav a.icon {
        float: right;
        display: block;
     }
   }
   
   @media screen and (max-width: 600px) {
     .topnav.responsive {position: relative;}
     .topnav.responsive .icon {
       position: absolute;
       right: 0;
       top: 0;
     }
   }
     .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
     }
   
   .videoWrapper {
       position: relative;
       padding-bottom: 56.25%; /* 16:9 */
       padding-top: 25px;
       height: 0;
   }
   .videoWrapper iframe {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
   }img {
        max-width: 100%; /* or any custom size */
       height: auto; 
       object-fit: contain;
       text-align:center;
   }#textboxid{
       height:14px;
       font-size:12pt;border: 0px solid red;
   }
   
   
   .container {
       width: 100%;
       border: 0px solid rgb(94, 188, 216);
  }
  .slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}
  .row {
   display: flex;
   margin-bottom: 10px; /* Space between rows */
  }
  .row:after { 
    content: "";
     Display: table;
     clear: both;
    }
  .three-columns .column {
   flex: 1; /* Equal width for all three columns */
   background-color: white;
   padding: 10px;
   margin: 2px;
  }
  
  .two-blocks .block {
    padding: 10px;
    margin: 2px;
  }
  
  .two-blocks .large {
    flex: 1; /* Larger block takes more space */
    background-color: white
    
  }
  
  .two-blocks .small {
    flex: 1; /* Smaller block takes less space */
    background-color: white;
  }
  
  @media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
  }